.input-text,
.button-submit,
.ng-select {
  width: 100%;
  padding: 12px;
  border: none;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  border-radius: 5px;
  background: #00000042;
  color: #d7cccc;
}
.button-submit {
  background-color: #1ab188;
  color: white;
  cursor: pointer;
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}
.button-submit:hover {
  background-color: #179b77;
}
.signup-form {
  width: 90%;
  margin: auto;
}
input-text:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
}

.bootstrap-select .bs-ok-default::after {
  width: 0.3em;
  height: 0.6em;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
  outline: none !important;
}
.ng-select {
    width: 100%;
    padding: 5px;
    border: none;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    border-radius: 5px;
    background: #00000042;
    color: #d7cccc;
    z-index: 1;
    opacity: 1;
  }

  .ng-select  .ng-select-container{
    background: #00000008;
    border: none;
}
.ng-option{
    /* position: absolute; */
    /* border: 1px solid #d4d4d4; */
    border-radius: 4px;
    /* margin-top: 15px; */
    top: 100%;
    left: 0;
    right: 50%;
    z-index: 1;
      overflow: scroll;
    background: #393e45;
}

.ng-select.ng-select-opened>.ng-select-container {
    background: #00000008;
    border: none;
}
.ng-dropdown-panel .ng-dropdown-panel-items{}