<div class="panelComponent">
  <div class="panelHeader">
    <span>there there</span>
  </div>
  <div class="panelBody">
    <div class="panelColumn">
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
    </div>
    <div class="panelColumn">
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
    </div>

    <div class="panelColumn">
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
    </div>
    <div class="panelColumn">
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
      <div class="panelCell">hello</div>
    </div>
  </div>
</div>
